.navElemContainer {
    min-width: 9.0625rem;
    padding: 0.9375rem 0.625rem;
    display: flex;
    grid-template-columns: 15% 85%;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.625rem;
    width: 80%;
    background-color: #7522d6;
    transition: all 200ms ease-out;
}
.navElemContainer > * {
    color: #d6d1db;
}
.navElemContainer:hover {
    cursor: pointer;
    /* background-color: #ffffff; */
}
.navSelected > * {
    color: #ffffff;
    transition: all 300ms ease-out;
    /* font-size: 0.8rem; */
}
.navSelected div {
    color: #ffffff;
    transition: all 300ms ease-out;
    font-size: 0.9rem !important;
}
.navSelected::after {
    content: "";
    width: 95%;
    opacity: 0.5;
    /* left: 10%; */
    border-radius: 10px;
    height: 80%;
    background-color: #a06cdc;
    /* z-index: 2; */
    position: absolute;
    /* background-color: #ffffff; */
}
.navElemContainer div {
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: bold;
}
.navElemContainer i {
    font-size: 1.1rem;
}

.navNotifs {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 1.375rem;
    height: 1.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    top: 0.3125rem;
    right: 0.3125rem;
    font-size: 0.9rem;
    padding: 0.625rem;
    border-radius: 312.5rem;
    font-weight: 100;
    background-color: var(--messagesnegativecolor);
    animation: comeFromNothing 300ms ease-out;
}

@keyframes comeFromNothing {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
